/*class for container button*/ /*class for container button*/ /*class for container button*/
/*class for container button*/ /*class for container button*/ /*class for container button*/
.contBtnAddproduct{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: -10px;
    margin-bottom: 0px;
}

/*contenedor del boton del login*//*contenedor del boton del login*//*contenedor del boton del login*/
/*contenedor del boton del login*//*contenedor del boton del login*//*contenedor del boton del login*/
.coon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.btnAnimate{
    margin-top: -30px;
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    margin: 40px 0;
    color: #ecf4f5;
    font-weight: bold;
    text-decoration: none;
    /*text-transform: uppercase;*/
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    /*margin-right: 50px;*/
    width: 120px;
    text-align: center;
  }

  .btnLogoCreate{
    width: 100px;
  }



  .btnAnimate:hover{
    background:#054e52;
    text-decoration: none;
    color: #e7e8ee;
    box-shadow: 0 0 3px #0b2425,
    0 0 5px #0b2425, 0 0 20px #0b2425,
    0 0 5px #0b2425;
    -webkit-box-reflect: below 1px
    linear-gradient(transparent,#0005) ;
  }

  .btnAnimate:nth-child(1){
    filter: hue-rotate(270deg);
  }
  .btnAnimate:nth-child(2){
    filter: hue-rotate(110deg);
  }

  .btnAnimate span{
    position: absolute;
    display: block;
  }

  .btnAnimate span:nth-child(1){
    top: 0px;
    left: opx;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, 
    transparent, #03e9f4);
    animation: animate1 1s linear infinite;
  }

  @keyframes animate1{
    0%{
        left:-100%;
    }
    50%,
    100%{
        left:100%;
    }
    
  }


  .btnAnimate span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(100deg,
    transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
  }
  @keyframes animate2 {
    0%{
        top:-100%;
    }
    50%,
    100%{
        top:100%;
    }
  }

  .btnAnimate span:nth-child(3){
    bottom: 0;
    top: -100%;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(100deg,
    transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
  }
  @keyframes animate3 {
    0%{
        right:-100%;
    }
    50%,
    100%{
        right:100%;
    }
  }


  .btnAnimate span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(100deg,
    transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
  }
  @keyframes animate4 {
    0%{
        bottom:-100%;
    }
    50%,
    100%{
        bottom:100%;
    }
  }


  .btnLogSendData2{
    background-color: none;
    height: 40px;
    background-color: rgba(0,0, 0, 0.2);
    border: none;

}