*{
    margin: 0;
    padding: 0;
}

body{
   /* background: rgba(64, 64, 216, 0.809);*/
   /* background-image: url("../public/images/fontLog.jpg");
    height: 100vh;
    width: 100%;
    /*background-repeat:unset;s
    background-repeat:no-repeat;
   

   /* background: linear-gradient(80deg, #33339b, #4e8cd4);*/
   /*background-color: rgba(3, 4, 53, 0.787);*/
   background-image: radial-gradient(circle at 45.97% 55.76%, #020252 0, #080d6f 25%, #0f0044 50%, #000033 75%, #000027 100%);
   background-repeat:no-repeat; 
   height: 100vh;
}

.containerLogin{
    background-color: rgb(0, 0, 0, .8);
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    border-radius:5%;

    width: 98%;
    margin: auto;
    margin-top: 10px;
}


.formLogin{
    padding: 10px;
    margin-top: 80px;

}

.contImgLogin{
    /*background: hsla(268, 86%, 44%, 0.809);*/
    width: 38%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    display: flex;
    align-content: center;
    padding-left: 5px;
}
.imgLogin{
    width: 90%;
    height: 120px;
}
.lblNameE{
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 0px;
}
.lblSlogan{
    color: #fff;
    font-size: 8px;
    text-align: center;
    width: 100%;
}



.contDataLogin{
    background-color: none;
    display: flex;
    width: 60%;
    height: 100%;
    flex-direction: column;
    padding: 5px;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
    
}
.contGreeting{
    margin-bottom: 0px;
    margin-top: 10px;
    height: 30px;

    display: flex;
    flex-direction: column;
   
}
.lblM{
    font-weight: bold;
}
.conTxtLogo{
    background-color: none;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.lblLog{
    color:hsl(0, 0%, 98%);
    background-color: none; 
}

.txtLogin{
    border: 0px solid  #f1edf5;
    background: none;
    border-bottom:2px solid hsla(0, 0%, 100%, 0.809);
    margin-bottom: 8px;
    color: #f1edf5;
    height: 25px;
}

.contLoYorAcount{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.contForgotPass{
    margin-left: 60px;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btnLogIn{
    background: hsla(264, 11%, 91%, 0.809);
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btnLogIn:hover{
    background-color: #383636;
    color: #f1edf5;
}



.txtUserLog{
    margin-bottom: 20px;
}

.lblCaccount{
    margin-top: 5px;
    margin-left: 60px;
    font-size: 18px;
}

.lblCaccount:hover{
    font-size: 19px;
}

.lblL{
    font-weight: initial;
}

.lblT{
    font-size: 15px;
}




/*class fro te footer*//*class fro te footer*/
/*class fro te footer*//*class fro te footer*/
.footer{
    background: rgb(16, 16, 19);
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    margin: auto;
    margin-top: 0px;
    justify-content: space-between;
}
/*class for container image red social*/
.contImgRedSocial{
    height: 100px;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%  ;
}

.imgFooter{
    width: 60px;
    height:60px;
}

.imgFacebook{
    height: 300px;
    width: 200px;
}
.lblFooter{
    margin-right: 10px;
    color: white;
    font-size: 15px;
}



 /* Tooltip container */
 .tooltip{
    position: relative;
    display: flex;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  } 


@media screen and (min-width: 769px){
    .containerLogin{
        margin-top: 20px;
        width: 35%;
    }
    .contImgLogin{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imgLogin{
        width: 60%;
        height: 150px;
    }
}