.optionProduct{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto ;
}
/*container button and search*/
.contBtnAndSearch{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 95%;
}


/* class btn for search product*/
.inpSearchP{
    margin-bottom: 5px;
    height: 30px;
    border-radius: 4px;
    width: 130px;
    margin-left: 0px;
    background-color: none;
}

.intpNamePro{
    width: 140px;
}
.btnSearchProduct{
    margin-top: -5px;
    width: 75px;
    height: 35px;
}
/*class for container product of view user */ /*class for container product of view user */
/*class for container product of view user */ /*class for container product of view user */
.containerProductForUser{
    background-color: none;
}

.lblNameProduct{
    margin-top: -40px;
}

.btnRealizarVenta{
    position: fixed;
    position: relative;
}
/*class container price and available*/
.contPrecioAvailable{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*class line of the product option*/
.line2{
    margin-top: 25px;
}
.imgProductOption{
    width: 250px;
    height: 250px;
}


.contDispPrice{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

}

/*class for contain producd*/

.contElement{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;    
    width: 90%;
    padding-bottom: 30px;
    margin: auto;
}


/*class  for container lis product*/
.contListImage{
    display: flex;
    height: 470px;
    margin-top: 10px;
    overflow-y: scroll;

}
.imgProduct{
    width: 340px;
    height: 290px;
}
.contListImage{
    width: 100%;
    display: flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    /*overflow-y: auto;*/

}

.contImg{
    margin-bottom: 10px;
    width: 340px;
    
    background-color: rgb(237, 219, 219);
    display: flex;
    flex-direction: column;
    border-radius: 3%;
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgb(90, 86, 86);
}

.lblInfoProduct{
    margin-left: 10px;
}

.lblInfoProduct2{
    color: rgb(37, 118, 162);
}

















/*class of product table*/
table {
    border-spacing: 5px;
    margin: auto;
}
/*class of head of the table*/

.tblHeadw1{
    background-color: rgb(227, 67, 13);
    border: 2px solid rgb(18, 17, 17);
    height: 40px;
    margin-left: 10px;
}

/*class what conatain the data*/
.tblContent{
    background-color: rgb(70, 70, 217);
    border-bottom: 2px solid black;
    height: 60px;
}

/*class what conatain data*/
.contImgTable{
    
    text-align: center;
}

/*class wath contain the data*/
.thContBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13px;

}

/*class for content data productId*/
.contDataProductId{
    
    height: 100%;
    width: 50%;
    margin: auto;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    border-radius: 10px;
}

/*class container product img*/
.contProducIdImg{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 10px;
}
/*class container product data*/
.contProductIdData{
    height: 100%;
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px;
}

/*class container data Product*/
.contDataProductI{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
/*class of img product id*/
.imgProductId{
    width: 200px;
    height: 200px;
}
/*class btn aparatar producto*/
.btnApartarProducto{
    margin-top: 20px;
    margin-bottom: 20px;

}
/*class input select tptal product*/
.selectTotal{
    width: 150px;
    height: 30px;
}


/* style  for alert Modal *//* style  for alert Modal */
/* style  for alert Modal *//* style  for alert Modal */

.contMsModal{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}


/*class fro select cant for aparta product*/
.cantApartar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.containerTable{
    width: 90%;
    height: 350px;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.tblHead{
    height: 45px;
    margin-bottom: 15px;
    color: rgb(14, 13, 13);
    font-weight: bold;
    font-size: 15px;
    border: 1px solid rgb(241, 238, 238);
    
}
.tColumn1{
    text-align: center;     
    border: 1px solid rgb(248, 243, 243);
    color: white;
    font-size: 15px;
}

.colDataT{
    border-bottom: 2px solid rgb(14, 13, 12);
}
.tBody{
    margin-bottom: 10px;
    /*: 3px solid blanchedalmond;*/
    border: none;
    ;
}


.colData{
    margin: 2px;
    text-align: center;
    
    height: 70px;
    display: table-cell;
    vertical-align: middle;
}
.divTbl{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 115px;
    color: white;
}
.divTblOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   
}

.tcNum{
    width: 45px;
}

.btnTbl{
    width: 150px;
    margin-top: 5px;
    height: 20px;
    color: rgb(198, 198, 211);
    background-color: none;
}

/*td{ vertical-align: middle; }*/



/*Clase del contenedor que contiene la lista de imagenes que contiene la lista de imagenes de lso productos*/
/*Clase del contenedor que contiene la lista de imagenes que contiene la lista de imagenes de lso productos*/
/*Clase del contenedor que contiene la lista de imagenes que contiene la lista de imagenes de lso productos*/
.contListImageInfo{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 50px;
}

.imgList{
    width: 40px;
    height: 40px;
    
}
.imgList :cursor{
    cursor: progress;
}

.contBtnApart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}


@media screen and (min-width: 769px){
   /*container button and search*/
    .contBtnAndSearch{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 40%;
    }
    /* class btnfor search product*/
    .inpSearchP{
        margin-top: 0px;
        margin-bottom: 0px;
        height: 30px;
        background-color: antiquewhite;
        border-radius: 4px;
        width: 200px;
        margin-left: 0px;
    }

    /*class for content data productId*/
.contDataProductId{
    
    height: 100%;
    width: 60%;
    margin: auto;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    border-radius: 10px;
}


    /*class container data Product*/
    .contDataProductI{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /*class of container data product available and price*/
    .contDataProductI{
        width: 90%;
        margin-bottom: 30px;
    }

    /*class from modal apartar producto*/

    .mApartarProducto{
        width: 35%;
    }

    .containerTable{
        margin-top: 5px;
        height: 400px;
        margin-bottom: 25px;
        overflow-y: scroll;
    }



    /*class for container image product*/
    .imgProduct{
        width: 250px;
        height: 200px;
    }
  

    .contImg{
        width: 250px;
       
    }
    

}